<p id="notice"><%= notice %></p>

<h1>Lineages</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive fixed-table-body">
        <% @lineages.where(father: nil).each do |h|%>
          <div class="col-md-4 col-sm-6">
          <%= Member.where(id: h.member_id).last.fname + " " + Member.where(id: h.member_id).last.lname%> <br>
          <div class="vl"></div>
          <% son = h.son%>
          <%while son!= nil%>
            <%= Member.where(id: son).last.fname + " " + Member.where(id: son).last.lname%> <br>
            <div class="vl"></div>
            <%son = @lineages.where(member_id: son).last.son%>
          <%end%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Member</th>
      <th>Father</th>
      <th>Son</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lineages.each do |lineage| %>
      <tr>
        <td><%= link_to Member.where(id: lineage.member_id).last.fname, member_path(lineage.member_id)%></td>
        <td><%= link_to(lineage.name_check(lineage.father))%></td>
        <td><%= link_to(lineage.name_check(lineage.son))%></td>
        <td><%= link_to 'Show', lineage %></td>
        <td><%= link_to 'Edit', edit_lineage_path(lineage) %></td>
        <td><%= link_to 'Destroy', lineage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<% if Member.find_by(:email =>current_admin.email).admin? %>
  <%= link_to 'New Lineage', new_lineage_path, class:"btn btn-outline-dark btn-sm" %>
<%end %>
