<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
    
    <%=Member.where(id: @lineage.member_id).last.fname%>
</p>

<p>
  <strong>Father:</strong>
  
  <%=@lineage.name_check(@lineage.father)%>
</p>

<p>
  <strong>Son:</strong>
  <%=@lineage.name_check(@lineage.son)%>
</p>

<% if Member.find_by(:email =>current_admin.email).admin? %>
  <%= link_to 'Delete', @lineage, class:"btn btn-outline-dark btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
  <br><br>
  <%= link_to 'Edit', edit_lineage_path(@lineage), class:"btn btn-outline-dark btn-sm" %>
<%end%>
<%= link_to 'Back', lineages_path, class:"btn btn-outline-dark btn-sm" %>
