<%= search_form_for @q do |f| %>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col">
        <%= f.label :full_name_cont, "Member Name" %>
        <%= f.search_field :full_name_cont %>
      </div>
      <div class="col">
        <%= f.label :email_cont, "Email" %>
        <%= f.search_field :email_cont %>
      </div>
      <div class="col">
        <%= f.label :major_cont, "Major" %>
        <%= f.search_field :major_cont %>
      </div>
      <div class="col">
        <%= f.label :active_eq, "Active" %>
        <%= f.search_field :active_eq, placeholder:"True/False"%>
      </div>
      <div class = "col">
        <%= f.submit %>
      </div>
    </div>
  </div>                    
  <% end %>